/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  color: #FFFFFF;
  text-align: center;
  background-size: cover;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-container-title {
  font-size: 45px;
  opacity: 0.7;
  letter-spacing: 3px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 15px;
}

.btn {
  padding: 8px 24px;
  display: inline-block;
  color: #FFFFFF;
  opacity: 0.8;
  border-radius: 4px;
}

.signup {
  margin-top: 15px;            
  margin-bottom: 15px;
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}
i {
  margin-right: 5px;
}

.btn:hover {
  opacity: 1.0;
}
